<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE map SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<map MAP_XML_VERSION="1.0">
    <entry key="acceptingClients" value="true"/>
    <entry key="address" value="<%= @server %>"/>
    <entry key="emailsEnabled" value="false"/>
    <entry key="password" value="<%= @password %>"/>
    <entry key="securedOnly" value="false"/>
</map>